@font-face {
    font-family: "Phonk";
    src: url("PhonkSans-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sovmod";
    src: url("SovMod.otf") format("opentype"),
        url("SovMod.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
