@import url(./assets/font/font.scss);

input {
    font-family: sovmod;
    text-transform: uppercase;
    all: unset;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; */
    -webkit-appearance: none;
    margin: 0;
}
body {
    user-select: none;
    font-family: sovmod;
    text-transform: uppercase;

    background-color: white;
    width: 100vw;
    // height: max-content;
    // overflow: hidden;
    position: relative;
}
#root {
    // min-height: 100%;
    // max-height: 100%;
    position: relative;
}
h1 {
    font-size: 74px;
    // -webkit-text-stroke: 2px black;
}
h2 {
    font-size: 48px;
    // -webkit-text-stroke: 2px black;
}
h3 {
    font-size: 38px;
    // -webkit-text-stroke: 2px black;
    font-weight: 100;
}
p {
    font-size: 24px;
}
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    cursor: none !important;
}

body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}
ul,
li {
    padding: 0;
    marker: none;
    list-style: none;
}
// ::-webkit-scrollbar {
//     display: none;
// }
// ::-webkit-scrollbar-thumb {
//     display: none;
// }
// ::-webkit-scrollbar-track {
//     background: #999;
// }
.main_wrapp {
    max-width: 1440px;
    margin: 0 auto;
    height: calc(100vh - 114px);
    overflow: auto;
    @media (max-width: 1452px) {
        padding: 0 12px;
    }
}

.wave {
    opacity: 0.5;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh !important;
    overflow: hidden;
}

.section {
    min-height: 100vh !important;
    max-height: max-content !important;
    height: 100% !important;
    width: 100vw !important;
    padding: 0 !important;
    margin: 0 !important;
}

.swiper-button-disabled {
    & > * {
        opacity: 0.3;
    }
}
